name: env workflow

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  push:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  environment:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    container: philipssoftware/node:14
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - uses: actions/checkout@v2.3.3
    - name: Env
      run: |
        node --version
        yarn --version
        lerna --version
